<article role="form">

    <header>
        <h6 mat-dialog-title>Edit account details</h6>
    </header>

    <section>
        <mat-dialog-content [formGroup]="form">
            <mat-form-field [hidden]="true">
                <input matInput formControlName="accountId" />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Firstname" formControlName="firstName" required />
                <mat-error *ngIf="hasError('firstName', 'required')">Name is required!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Lastname" formControlName="lastName" required />
                <mat-error *ngIf="hasError('lastName', 'required')">lastName is required!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [matDatepicker]="picker"
                    [min]="minDate"
                    [max]="maxDate"
                    placeholder="Choose date of birth"
                    formControlName="dob"
                    id="dateOfBirth"
                    readonly
                    (click)="picker.open()"
                    required />
                <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button class="mat-raised-button" (click)="close()">Cancel</button>
            <button
                class="mat-raised-button mat-primary"
                [disabled]="!form.valid"
                (click)="submitUpdate()">
                    Submit
                </button>
        </mat-dialog-actions>

        <div class="key">
            <span>* Required</span>
        </div>

    </section>

</article>
