<section role="alert" fxLayout="column" fxLayoutAlign="center center">
    <h1 mat-dialog-title>Success!</h1>
    <mat-dialog-content>
        <p>Updated <i>{{ data.firstName }}'s</i> account details successfully</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-raised-button
            color="primary"
            [mat-dialog-close]="true">
            OK
        </button>
    </mat-dialog-actions>
</section>
