<main role="list" fxLayout="row" fxLayout.xs="column">
    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- AccountId Column -->
        <ng-container matColumnDef="accountId">
            <th mat-header-cell *matHeaderCellDef>Account Id</th>
            <td mat-cell *matCellDef="let element">{{ element.accountId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.firstName }} {{ element.lastName }}</td>
        </ng-container>

        <!-- DOB Column -->
        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef>Date of birth</th>
            <td mat-cell *matCellDef="let element">{{ element.dob | date: 'dd/MM/yyyy' }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td md-cell *matCellDef="let element">
                <button
                    mat-flat-button
                    color="accent"
                    (click)="editAccount({ accountId: element.accountId, firstName: element.firstName, lastName: element.lastName, dob: element.dob })"
                >
                    <div class="with-icon">
                        <span>Edit </span>
                        <mat-icon>edit</mat-icon>
                    </div>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['accountId', 'name', 'dob', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['accountId', 'name', 'dob', 'actions']"></tr>
    </table>
</main>
